.buttons {
  margin-top: 98px;
}

.button-store {
  display: inline-block;
  box-sizing: border-box;
  background-color: #252c41;
  font-family: Arial, "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  width: 200px;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;
}

.button-store:hover {
  background-color: #fff;
  color: #252c41;
}

.button-store:active {
  transform: scale(0.95);
}

.button-store.-second {
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 218px;
  line-height: 56px;
}

.button-store.-second:hover {
  background-color: #fff;
  color: #e24647;
}

.button-store > button,
.button-store > a {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

.button-store.-last {
  margin-left: 38px;
}
