.description-store {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.title {
  font-size: 25px;
}

.rating {
  font-size: 20px;
  margin-top: 100px;
  ml10
}

.delivery {
  font-size: 20px;
  margin-top: 28px;
  text-transform: uppercase;
}

.price {
  font-size: 20px;
  margin-top: 26px;
  text-transform: uppercase;
}

.value {
  margin-left: 82px;
}

.price .value {
  margin-left: 77px;
}

.description {
  font-size: 18px;
  margin-top: 75px;
  line-height: 30px;
}

.view-more {
  color: inherit;
  margin-top: 28px;
  margin-bottom: 100px;
}

.link{
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}

.buy-buttom{
  display: inline;
}

.buy-buttom.-right{
  margin-left: 40px;
}