.description-store {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 519px;
  margin-top: 43px;
  position: relative;
}

.description-store > .heart {
  position: absolute;
  transform: translateX(-100%);
  left: -47px;
  top: 9px;
  transition: all 0.1s linear;
  cursor: pointer;
}

.description-store > .heart:hover {
  transform: scale(1.2);
  margin-left: -32px;
}

.description-store > .heart.-active {
  background-image: url("/image/heart-active.png");
}

.description-store > .title {
  font-size: 25px;
}

.description-store .star .item {
  display: inline-block;
  margin-right: 8px;
}

.description-store > .item {
  font-size: 20px;
}

.description-store > .item.-star {
  margin-top: 50px;
}

.description-store .star {
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.description-store .star.-active {
  background-image: url("/image/star-active.png");
}

.description-store .star:hover {
  transform: scale(1.2);
}

.description-store .star.-last {
  margin-right: 0;
}

.description-store .item.rating {
  margin-top: 10px;
  margin-left: 7px;
}

.description-store .item.delivery {
  margin-top: 28px;
  text-transform: uppercase;
}

.description-store .item.price {
  margin-top: 26px;
  text-transform: uppercase;
}

.description-store .value {
  margin-left: 82px;
}

.description-store .price .value {
  margin-left: 77px;
}

.description-store > .description {
  font-size: 18px;
  margin-top: 75px;
  line-height: 30px;
}

.description-store > .view-more {
  color: inherit;
  margin-top: 28px;
}

.description-store .link {
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1360px) {
  .description-store > .heart {
    left: -30px;
  }
}

@media (max-width: 1300px) {
  .description-store {
    display: block;
    max-width: 700px;
    margin: 20px auto;
  }

  .description-store > .title {
    font-size: 35px;
    text-align: center;
  }

  .description-store > .heart {
    transform: none;
    left: inherit;
    top: 90px;
    right: 0;
  }
}

@media (max-width: 700px) {
  .description-store {
    max-width: 460px;
  }

  .description-store > .description {
    margin-top: 30px;
  }
}

@media (max-width: 660px) {
  .description-store {
    display: block;
    width: 90%;
  }
}

@media (max-width: 374px) {
  .description-store > .heart {
    top: 120px;
  }
}
