.description-store {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 554px;
  margin-top: 43px;
}

.description-store > .title {
  font-size: 25px;
}

.description-store > .star {
  margin-top: 50px;
}

.description-store .star .item {
  display: inline-block;
  margin-right: 8px;
}

.description-store .star .item.-last {
  margin-right: 0;
}

.description-store > .item {
  font-size: 20px;
}

.description-store .item.rating {
  margin-top: 25px;
  margin-left: 10px;
}

.description-store .item.delivery {
  margin-top: 28px;
  text-transform: uppercase;
}

.description-store .item.price {
  margin-top: 26px;
  text-transform: uppercase;
}

.description-store .value {
  margin-left: 82px;
}

.description-store .price .value {
  margin-left: 77px;
}

.description-store > .description {
  font-size: 18px;
  margin-top: 75px;
  line-height: 30px;
}

.description-store > .view-more {
  color: inherit;
  margin-top: 28px;
}

.description-store .link {
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}

.description-store .buy-buttom {
  display: inline;
}

.description-store .buy-buttom.-right {
  margin-left: 40px;
}
