.product-store {
  display: inline-block;
  position: relative;
  width: 600px;
  height: 574px;
  background-color: #fff;
  margin-left: -60px;
  border-radius: 0 120px 120px 0;
  margin-right: 157px;
}

.product-store > .image {
  width: 547px;
  height: 547px;
  margin-left: 105px;
  margin-top: 27px;
}

@media (max-width: 1360px) {
  .product-store {
    margin-right: 100px;
  }
}

@media (max-width: 1300px) {
  .product-store {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .product-store > .image {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .product-store > .image {
    width: 100%;
    height: auto;
  }
}
