.product-store {
  display: inline-block;
  position: relative;
  width: 600px;
  height: 574px;
  background-color: #fff;
  margin-left: -60px;
  border-radius: 0 120px 120px 0;
  margin-right: 157px;
}

.product-store > .image {
  width: 547px;
  height: 547px;
  margin-left: 105px;
  margin-top: 27px;
}

.product-store > .heart {
  position: absolute;
  top: 52px;
  right: -110px;
  transition: all 0.1s linear;
  cursor: pointer;
}

.product-store > .heart:hover {
  transform: scale(1.25);
}
