html,
body {
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  float: right;
}

a {
  text-decoration: none;
  font-family: "Segoe UI", "Roboto", sans-serif;
  color: inherit;
  margin-right: 60px;
}

a:last-child {
  margin-right: 0;
}

.btn-comprar {
  background-color: #252c41;
  color: #fff;
  text-align: center;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  padding: 17px 60px 21px 60px;
}
